body {
    background-color:#f8f5f5;
}
img {
    border-radius: 20px;
    margin: 10px;
    max-width: 50%;
}
.targetus {
    display: flex;
    align-items:center;
    overflow: auto;
}
 .blackzone {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .text_blackzone {
    color: #f8f5f5;
    padding-left: 10%;
    width: auto;
 }
.first_part {
    color: rgb(5 150 105 / var(--tw-text-opacity));
    width: auto;
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

@media screen and (max-width:1200px) {
    .targetus, .first_part {
        flex-direction: column;
    }
}